@use "./abstracts/variables" as *;
@use "./abstracts/typography";

@import './abstracts/fonts';

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px; // a good choice when using "rem" units
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  @include typography.typography-level(typography.$config, body);
  color: $deno-black;

  @media print {
    background-color: #fff;
  }

  &::backdrop {
    background-color: #fff;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  @include typography.short-typography-level(typography.$config, title);
}

h2 {
  @include typography.short-typography-level(typography.$config, subtitle);
}
