@use "./abstracts/variables" as *;

.header {
  width: 100%;

  .navbar {
    display: flex;
    width: 100%;
    padding: 8px 2rem;
    align-items: center;
  }

  .deno {
    display: inline-flex;
    align-items: center;

    svg {
      width: 48px;
      height: 48px;
    }

    .title {
      display: flex;
      margin-left: 15px;
      flex-direction: column;
    }

    h1,
    h2 {
      margin: 0;
    }
  }

  .placeholder {
    flex: 1;
  }

  .iconButton {
    color: $deno-black;
  }
}
