@use "./abstracts/variables" as *;
@use "./abstracts/typography";

.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.playground {
  display: flex;
  width: 100%;
  padding: 2rem;
  overflow: hidden;
  flex-direction: column;
  background: #f4f5f7;
  border-top: 1px solid $deno-separator;
  flex: 1;
  gap: 1rem;

  @media (min-width: 1024px) {
    flex-direction: row;
  }
}

.code {
  overflow: hidden;
  border: 1px solid $deno-separator;
  border-radius: 4px;
}

.sanitizer {
  display: none;
}

.console {
  position: relative;
  display: flex;
  flex-direction: column;

  h2 {
    padding: 0 0 5px;
    margin: 0;
  }

  samp {
    @include typography.console();
    height: 100%;
    max-height: 100%;
    padding: 1rem 1.5rem;
    overflow-y: auto;
    background-color: $deno-bg;
    border: 1px solid $deno-separator;
    border-radius: $border-radius;
  }

  .blur {
    filter: blur(2px);
  }

  .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
