@use "./abstracts/variables" as *;
@use "./abstracts/typography";

@import './abstracts/fonts';

html,
body {
  padding: 0;
  margin: 0;
  @include typography.typography-level(typography.$config, body);
  color: $deno-black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  @include typography.short-typography-level(typography.$config, title);
}

h2 {
  @include typography.short-typography-level(typography.$config, subtitle);
}
