@use "./abstracts/variables" as *;

.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.settings {
  width: 100%;
  padding: 1rem 0;
}

.playground {
  display: flex;
  width: 100%;
  padding: 1rem;
  overflow: hidden;
  flex-direction: row;
  background: #f4f5f7;
  border-top: 1px solid $deno-separator;
  flex: 1;
  gap: 2rem;
}

.code,
.console {
  flex: 1;
}

.code {
  overflow: hidden;
  border: 1px solid $deno-separator;
  border-radius: 4px;
}

.console {
  display: flex;
  flex-direction: column;

  h2 {
    padding: 0 0 5px;
    margin: 0;
    font-size: 16px;
    font-weight: 600;
  }

  samp {
    height: 100%;
    max-height: 100%;
    padding: 1rem;
    overflow-y: auto;
    background-color: $deno-bg;
    border: 1px solid $deno-separator;
    border-radius: $border-radius;
  }
}
