@use "./abstracts/variables" as *;

.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.settings {
  width: 100%;
  padding: 1rem 0;
}

.playground {
  display: flex;
  width: 100%;
  padding: 1rem;
  overflow: hidden;
  flex-direction: row;
  background: #eee;
  flex: 1;
  gap: 1rem;
}

.code,
.console {
  flex: 1;
  border-radius: $border-radius;
}

.code {
}

.console {
  display: flex;
  flex-direction: column;
  background-color: $deno-bg;

  h2 {
    padding: 3px 5px;
    margin: 0;
    font-size: 16px;
    background: #eee;
    border-bottom: 1px solid #eee;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }

  samp {
    height: 100%;
    max-height: 100%;
    padding: 1rem;
    overflow-y: auto;
  }
}
